<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.80858465436-eosj3jfdqf3b1febpp03o2rp87juefe0</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>riveBuddy needs notification permission to remind you about vehicle tax and service dates</string>
</dict>
</plist>
